body{
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background-color: #0a192f;
  color: #8892b0;
  font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  font-size: 13px;
  line-height: 1.3
}
a{
  counter-reset: items;
  display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
.nav_style .logo{
  display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.nav_style .logo a{
  color: #64ffda;
    width: 42px;
    height: 42px;
}
#logo{
  color: #64ffda;
}
.nav_style .logo a svg{
  fill: none;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);;
  user-select: none;
}




.header{
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    height: 100px;
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(10px);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
}
.heander ::-webkit-scrollbar{
  width: 12px;
}

li {
  display: list-item;
 
}
ol{
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.nav_style{
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    color: #a8b2d1;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    
    z-index: 12;
    margin-left: -100px;
}
.nav1{
  display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
}
.nav1 ol{
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin-left: 30px;
    
}
.nav ol li{
  
  margin: 0px 10px;
    position: relative;
    counter-increment: item 1;
    font-size: 11px;
    transition-delay: 200ms;
    
}
.nav1 ol li a{
  font-weight: 500;
  padding: 40px;
  
}
.nav1 ol li:hover{
  color: #64ffda;
  
}

.about::before{
  content: "01"  ".";
    margin-right: -35px;
    color: #64ffda;
    font-size:14px;
    text-align: right;
}
.work::before{
  content: "02"  ".";
    margin-right: -35px;
    color: #64ffda;
    font-size:14px;
    text-align: right;
}
.skills::before{
  content: "03"  ".";
    margin-right: -35px;
    color: #64ffda;
    font-size:14px;
    text-align: right;
}
.contact::before{
  content: "04"  ".";
    margin-right: -35px;
    color: #64ffda;
    font-size:14px;
    text-align: right;
}
.resume-button{
  color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda ;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    font-family: 'Montserrat', sans-serif,'Lato', sans-serif;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);;
    margin-left: 15px;
    font-size:  13px;
}
.resume-button:hover{
  filter: drop-shadow(#333);
}
/* ----------responsive---------- */
.menu{
  display: none;
}
.menu-Style .ham-box-inner{
  position: absolute;
    top: 50%;
    right: 0px;
    width: 30px;
    height: 2px;
    border-radius: 4px;
    background-color: #64ffda;
    transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
    transform: rotate(0deg);
}
.menu-Style .ham-box-inner::before {
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0px;
  height: 2px;
  border-radius: 4px;
  background-color: #64ffda;
  width: 120%;
    top: -10px;
    opacity: 1;
  transition: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;;
}
.menu-Style .ham-box-inner::after{
  content: "";
  display: block;
  position: absolute;
  left: auto;
  right: 0px;
  height: 2px;
  border-radius: 4px;
  background-color: #64ffda;
  width: 80%;
    bottom: -10px;
    transform: rotate(0deg);
  transition: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
}

/* .menu-Style .ham-box-inner::before{
 
}
.menu-Style .ham-box-inner::after{
  
} */

@media(max-width:768px){
  .header{
    padding: 0px 25px
  }
  .menu{
    display: block;
  }
  .menu-Style .ham-box{
    display: inline-block;
  }
  .menu-Style{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-right: -15px;
    padding: 15px;
    border: 0px;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
  }
  .nav1 ol {
    background: #5e6572;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
  }
  .ham-menu{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: -300px;
    padding: 50px 10px;
    width: min(75vw, 400px);
    height: 100vh;
    outline: 0px;
    background-color: #112240;
    box-shadow: -10px 0px 30px -15px rgba(2,12,27,0.7);
    z-index: 9;
    transform: translateX(0vw);
    visibility: visible;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    visibility: visible;
  }
  .ham-menu nav{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    color:#ccd6f6;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;;
    text-align: center;
  }
  .ham-menu ol{
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 100%;
  }
  .ham-menu ol li{
    position: relative;
    margin: 0px auto 20px;
    counter-increment: item 1;
    font-size: clamp(14px,4vw,18px);
  }
  .ham-menu ol li::before{
    content: "0" counter(item) ".";
    display: block;
    margin-bottom: 5px;
    color: #64ffda;
    font-size:14px;
  }
  .ham-menu .resume-link{
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    font-size: 14px;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    padding: 18px 50px;
    margin: 10% auto 0px;
    width: max-content;
  }
  
}
@media (max-width:768px) {
  .menu{
    display: flex;
  }
}


/* content */
*{
  box-sizing: inherit;
}
* ::before,::after{
  box-sizing: inherit;
}
body{
  height: 100%;
  background-color: #0a192f;
  margin: 0px;
    width: 100%;
    min-height: 100%;
    background-color: #0a192f;
    color: #8892b0;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    line-height: 1.3;
}
#gatsby{
  display: block;
  box-sizing: inherit;
}
.contentstyle{
  display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.svgs{
  width: 25px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: #ccd6f6;
}
.svgs::selection{
  background-color:#233554;
    color: #ccd6f6;
}
.social{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: inherit;
  margin-left: 15px;
}
.social li a{
  padding: 12px;
}
.social li a svg{
  width: 20px;
  height: 20px;
  font-weight: 700;
  
}
.social li a:hover{
  color: #64ffda;
  /* margin-bottom: 4px; */
  
}
.social li a svg:hover{
  margin-bottom: 3px;
}
.social::after{
  content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #8892b0;
}
.mailstyle{
  width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: #8892b0;
}
.mail_styled{
  display: flex;
    flex-direction: column;
    
    align-items: center;
    position: relative;
    margin-left: 28px;
}
.mail_styled a{
  margin: 20px auto;
    padding: 10px;
    /* font-family:"Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif; */
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    color: #8892b0;
    margin-left: -28px;
}
a{
  display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    font-weight: 600;
}
.mail_styled::after{
  content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #8892b0;
    margin-left: -8px;
}
.mail_styled a:hover{
  color: #64ffda;
  margin-bottom: 4px;
}
section{
  margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
}

.content{
  color:  #8892b0;
  /* font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif; */
    font-size: 20px;
    line-height: 1.3
}
main.maincontainer{
  padding: 0px 150px
}
.name1{
  display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0px;
}

.maincontainer h1{
  margin: 0px 0px 30px 4px;
    color: #64ffda;
    /* font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif; */
    font-size: 18px;
    font-weight: 400;
    margin-top: -60px;
}
.bigheading{
  margin-top: 2px;
  margin: 0px;
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 600;
    color: #ccd6f6;
    line-height: 1.1;
    /* font-family:"Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif; */
}
.maincontainer h3{
  margin-top: 15px;
    color: #8892b0;
    line-height: 0.9;
    font-weight: 600
}
.maincontainer p{
  
  margin: 25px 0px 0px;
    max-width: 540px;
    color: #8892b0;
    /* font-family: "Calibre","Inter","San Francisco","SF Pro Text",system-ui,sans-serif;; */
    font-size: 20px;
    line-height: 1.3
    
}
p{
  letter-spacing: 1px;
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}
#about{
  max-width: 900px;
}
.about_heading{
  display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(20px,5vw,25px);
    white-space: nowrap;
    /* font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;; */
}
.about_heading::before{
  position: relative;
    bottom: -2px;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #64ffda;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;;
    font-size: clamp(16px,3vw,20px);
    font-weight: 400;
}
.about_heading::after{
  content: "";
    display: block;
    position: relative;
    top: -1px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #495670;
}
.innerabout{
  display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px
}
.innerabout p{
  margin: 0px 0px 15px
}
.skill_list{
  display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}
.skill_list li{
  position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;;
    font-size: 13px;
}
.skill_list li::before{
  content: "▹";
    position: absolute;
    left: 0px;
    color: #64ffda;
    font-size: 14px;
    line-height: 12px
}
.about_pic_style{
  position: relative;
    max-width: 300px
}
.about_pic_style .wrapper{
  box-shadow: rgba(2,12,27,0.7);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    display: block;
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: #64ffda;
}
.wrapper::before{
  top: 0px;
    left: 0px;
    background-color: #0a192f;
    mix-blend-mode: screen;
}
.about_pic_style .wrapper ::before, .about_pic_style .wrapper::after{
  content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  
}
.wrapper::after{
  border: 2px solid #64ffda;
    top: 20px;
    left: 20px;
    z-index: -1
    
}
.about_pic_style .wrapper .img{
  position: relative;
    border-radius: 4px;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);;
}
.about_pic_style .wrapper .img:hover{
  filter: none;
  mix-blend-mode: normal;
  

}

.image_wrapper{
  width: 100%;
    max-width: 100%;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}
.about_pic_style .wrapper .img img{
  max-width: 100%;
  display: block;
  position: static;
}
.project{
  margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px
}
.numbered_heading{
  display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,var(--fz-heading));
    white-space: nowrap;
}
.numbered_heading::before{
  position: relative;
    bottom: -1px;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #64ffda;
    font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: clamp(16px,3vw,20px);
    font-weight: 400;
}
.numbered_heading::after{
  content: "";
    display: block;
    position: relative;
    top: 3px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
}
.project1:nth-of-type(2n+1).project_content{
  grid-column: 7 / -1;
    text-align: right;
}
.project1 .project_content{
  position: relative;
    grid-area: 1 / 1 / -1 / 7;
}
.feature{
  margin: 10px 0px;
    color: #64ffda;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: 13px;
    font-weight: 400;
}
@media (max-width: 768px){
  section {
    padding: 80px 0px;
}
main.maincontainer{
  padding: 0px 50px;
}
#about .innerabout {
  display: block;
}
 .about_pic_style .wrapper{
  display: inline-block;
 }
}

.project_content{
  margin-left: -159px;
  text-align: right;
  display: block;
}
.project1 .feature{
  margin: 10px 0px;
    color: #64ffda;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-size: 13px;
    font-weight: 400;
    text-align: right;

}

.project1 .project_title {
    color: #ccd6f6;
    font-size: clamp(24px, 5vw, 28px);
    text-align: right;
}
.project_list{
  list-style: none;
}
.project1 .project_description{
  box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 4px;
    background-color: #112240;
    color: #a8b2d1;
    font-size: 18px;
    display: block;
    text-align: right;
    justify-content: flex-end;
    display: inline-block;
}
.project1 .project_content{
  grid-column: 7 / -1;
  text-align: right;
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
}

.project1:nth-of-type(2n+1) .project-links {
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-left: 0px;
  margin-right: -10px;
}

.project1 .project-links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-left: -10px;
  color: #a8b2d1;
}
.project1 .project-links a{
  display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px;
}
.project1 .project-links a svg{
  width: 20px;
    height: 20px;
}
.pic{
  opacity: 10;
  transition: opacity 500ms linear 0s;
  background-color: rgb(232, 232, 232);
  position: absolute;
  inset: 0px;
  object-fit: cover;
}

.wrapper picture img {
  object-fit: cover;
  opacity: 1;
}
.image_wrapper [data-main-image] {
  opacity: 0;
  transform: translateZ(0);
  transition: opacity .25s linear;
  will-change: opacity;
}

.image_wrapper img {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
.img22 img{
  max-width: 100%;
    display: block;
    position: static;
    filter: blur(5px);
}
.img22 img[alt+" "]{
  filter: blur(5px);
}
@media (max-width: 768px){
 .svgs{
  display: none;
 }
 .mailstyle{
  display: none;
 }
 .nav1{
  display: none;
}
.about_pic_style{
  margin: 50px ,auto 0px;
    width: 70%
}

}
.about .innerabout {
display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}
@media (max-width: 1080px)
{.svgs{
    left: 20px;
    right: auto;
}
.mailstyle{
  left: auto;
  right: 20px;
}
main.maincontainer{
  padding: 0px 100px;
}
}

section .name1 h1{
  transition-delay: 100ms;
}
section .name1 h2{
transition-delay: 200ms;
}
section .name1 h3{
transition-delay: 300ms;
}
section .name1 p{
transition-delay: 400ms;
}